@model IEnumerable<CadastroCliente.Models.Cliente>

@{

    ViewData["Title"] = "Cadastro de Cliente";
}
<p>
    <a asp-action="Create" class="btn-small blue darken-3">Novo</a>
</p>
<table class="table-responsive" >
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Data Nascimento
            </th>
            <th>
                Sexo
            </th>
            <th>
                CEP
            </th>
            <th>
                Endereço
            </th>
            <th>
                Numero
            </th>
            <th>
                Complemento
            </th>
            <th>
                Bairro
            </th>
            <th>
                UF
            </th>
            <th>
                Cidade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereço)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Complemento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClienteId" class="btn-small light-green darken-2" width=115 height=32 >Atualizar</a> |
                    <a onclick="ExibirModal(@item.ClienteId)" class="btn-small red darken-2">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Confirmar exclusão</h4>
        <p>Deseja prosseguir com a exclusão do cliente ? </p>
    </div>
    <div class="modal-footer">
        <a class="modal-close btn green accent-4">Não</a>
        <a class="modal-close btn red accent-4 btnConfirmar">Sim</a>
    </div>
</div>


@section Scripts
    {
    <script>
        $(document).ready(function () {
            $(".modal").modal();
        })
        function ExibirModal(id, nome) {
            $(".nome").html(nome);
            $("#modal1").modal("open");
            $(".btnConfirmar").on('click', function () {
                $.ajax({
                    method: "POST",
                    url: "/Clientes/Delete",
                    data: { id: id },
                    success: function () {
                        location.reload();
                    }
                });
            });
        }


    </script>
}
